  <form method='get' action='/stock/query'>
    <input type='text' name='ticker' method="post" autofocus>
    <button>Go</button>
  </form>

  <div id="result_box">

    <div class="ticker">
      <%= @ticker || "" %>
    </div>

    <div class="price">
      <%= number_to_currency(@price) || "0" %>
    </div>

    <div class="name">
      <%= @name || "" %>
    </div>
  </div>