<%= render :partial => 'form' %>

  <div id="poster_box">

    <div class="ticker">
      <%= @ticker || "" %>
    </div>

    <div class="price">
      <%= number_to_currency(@price) || "0" %>
    </div>

    <div class="name">
      <%= @name || "" %>
    </div>
  </div>