@import url(http://fonts.googleapis.com/css?family=Diplomata+SC); /*stock font*/
@import url(http://fonts.googleapis.com/css?family=Mrs+Sheppards); /*movies font*/
@import url(http://fonts.googleapis.com/css?family=Junge); /*hero*/

body {
}

header   {
  margin-left: 30px;
  margin-right: 60px;
}

header a {
  text-decoration: none;
}

nav {
  font-family: 'Junge', serif;
  font-size: 50px;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
  text-align: center;
}


h1.movie {
  font-family: 'Mrs Sheppards', cursive;
  font-size: 120px;
  color: black;
  display: inline-block;
}

h1.stock {
  display: inline;
  font-family: 'Diplomata SC', cursive;
  font-size: 90px;
  color: black;
}


#hero h4 {
  font-family: 'Junge', serif;
  font-size: 40px;
  margin-top: 80px;
}

#hero p {
  font-family: 'Junge', serif;
  font-size: 20px;
  margin-top: 50px;
}


#container {
  width: 960px;
  height: 700px;
  margin: 0 auto 0 auto;
  padding: 0 107px 0 107px;
}

#form_box {
  margin: 30px 20px 20px 10px;
  width: 300px;
  height: 100px;
}


input {
  line-height: 30px;
  width: 300px;
}

button {
  height: 50px;
  width: 50px;
  display: block;
  margin-top: 20px;
  border-radius: 4px;
}

#result_box {
  margin-left: 10px;
  float: left;
  height: 200px;
  width: 350px;
}

ul {
  font-family: 'Junge', serif;
  line-height: 25px;
}

#poster_box {
  float:right;
  margin-left: 100px;
  position: fixed;
  top: 188px;
  left: 520px;
}

.ticker, .price, .name {
  color: red;
}

.ticker {
  font-size: 50px;
}

.price {
  font-size: 80px;
}

.name {
  font-size: 40px;
}

.em {
  color: red;
}

