body {
  background-color: black
   background-position: center;
  background-attachment: fixed;
  background-image:url('/assets/pope_big.jpg');
  -webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#container {
  width: 840px;
  height: 700px;
  margin: 0 auto 0 auto;
}

nav {
  margin-bottom: 50px;
}

h1 {
  font-size: 60px;
   color: #ab0000;
}

header h1 {
  display: inline-block;
  font-size: 60px;
  color: #ab0000;
}

header h4 {
  display: inline-block;
  margin-left: 30px;
  font-size: 20px;
  color: #964b00;
}

form {
  float: left;
  margin: 20px 0 0 30px;
}


input {
  line-height: 30px;
}

button {
  height: 30px;
  width: 30px;
  display: block;
  margin-top: 20px;
}

#result_box {
/*  position: relative;
  height: 200px;
  width: 350px;
  top: 370px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding:10px;*/
  float: right;
  position: relative;
  height: 200px;
  width: 350px;
  top: 370px;
  margin-right: -100px;

}

#movie_result_box {
  clear: inherit;
  color: white;
  display: block;
  width: 300px;
}

.ticker, .price, .name {
  color: red;
  text-shadow: black 0.2em 0.3em 0.2em
}

.ticker {
  font-size: 50px;
}

.price {
  font-size: 80px;
}

.name {
  font-size: 40px;
}

#poster_box {
  float: right;
}
