<!DOCTYPE html>
<html>
<head>
  <title>Movie/Stockr</title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <a href="/"><h1 class="movie">M<span class='em'>o</span>vie  /  </h1><h1 class="stock">St<span class='em'>o</span>ckr&copy;</h1></a>
    <nav>
      <a href="/movie">MOVIE</a>
      <a href="/stock">STOCK</a>
    </nav>
  </header>

  <div id="container">

<%= yield %>

</div>
</body>
</html>
