<!DOCTYPE html>
<html>
<head>
  <title>Pontificus Secessus</title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <a href="/"><h1>Pontificus Secessus</h1></a><h4>Pope retirement app</h4>
    <nav>
      <a href="/stock">STOCK</a>
      <a href="/movie">MOVIE</a>
    </nav>

  </header>
  <div id="container">

<%= yield %>

</div>
</body>
</html>
