<!DOCTYPE html>
<html>
<head>
  <title>Movie/Stockr</title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1 class="movie">Movie  /  </h1><h1 class="stock">Stockr</h1>
    <nav>
      <a href="/movie">MOVIE</a>
      <a href="/stock">STOCK</a>
    </nav>
  </header>

  <div id="container">

<%= yield %>

</div>
</body>
</html>
